.App {
  display: flex;
}
.file-content{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 20px;
}
.folder-content{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacing {
  width: 40%;
  background-color: rgb(223, 223, 223);
  margin: auto;
  margin-top: 30px;
}

.folder {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.folderName {
  color: red;
  cursor: pointer;
}

.file{
  margin: 0;
  padding-left: 11px;
}
button{
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: rgb(196, 196, 196);
}

.folder-content > div{
  padding-left: 20px;
}